# Commands setting aliases

files:
    "/home/ec2-user/.bashrc_new":
        owner: ec2-user
        group: ec2-user
        content: |
            # .bashrc

            # Source global definitions
            if [ -f /etc/bashrc ]; then
                    . /etc/bashrc
            fi

            # User specific aliases and functions
            alias console="sudo /var/app/current/script/aws-console"
            alias sidekiqLog="tail -80f /var/app/containerfiles/logs/sidekiq.log"
            alias stagingLog="tail -80f /var/app/current/log/staging.log"
            alias productionLog="tail -80f /var/app/current/log/production.log"

commands:
    rename_bashrc_new_file:
        command: mv -f /home/ec2-user/.bashrc_new /home/ec2-user/.bashrc
        ignoreErrors: true
