
files:
  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.inputs:
      - input_type: log
        paths:
          - /var/log/eb-engine.log
          - /var/log/puma/puma.log
          - /var/app/current/log/sidekiq.log
          - /var/app/current/log/staging.log
          - /var/app/current/log/production.log
        exclude_lines: ['^[[:space:]]*$']
        multiline:
          # Order for pattern: 'eb-engine, sidekiq and staging|puma'
          pattern: '^\s*(([I,V,E,W,L], ){0,1}\[{0,1}2[0-9]{3}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}|=== |.*\[[a-z,0-9,\-]{36}\]( Started| Sending| $))'
          negate: true
          match: after
        fields:
          appname: railsapibootstrap
          appcomponent: railsapibootstrap-api
          environment: ELK_ENV
      output.logstash:
        hosts: ['${KIBANA_HOST}']
container_commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.3.2-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-7.3.2-x86_64.rpm"
    cwd: /home/ec2-user
