files:
  "/etc/monit.d/sidekiq":
    mode: "000644"
    owner: root
    group: root
    content: |
      check process sidekiq
        with pidfile /var/pids/sidekiq.pid
        if memory usage is greater than MONIT_SIDEKIQ_MAX_MEMORY for MONIT_SIDEKIQ_CYCLES cycles then exec "/var/app/current/.platform/hooks/postdeploy/50_restart_sidekiq.sh"
commands:
  remove_bak:
    command: "rm /etc/monit.d/sidekiq.bak"
    ignoreErrors: true
services:
  sysvinit:
    monit:
      ensureRunning: true
      enabled: true
