files:
    "/usr/lib/systemd/system/node_exporter.service":
        mode: "000755"
        owner: root
        group: root
        content: |
            [Unit]
            Description=Node Exporter
            Wants=network-online.target
            After=network-online.target
            [Service]
            Type=simple
            ExecStart=/usr/local/bin/node_exporter
            [Install]
            WantedBy=multi-user.target
container_commands:
    download unzip copy exporter:
        command: |
            curl -L -O https://github.com/prometheus/node_exporter/releases/download/v"${NODE_EXPORTER_VERSION}"/node_exporter-"${NODE_EXPORTER_VERSION}".linux-amd64.tar.gz
            tar xvf node_exporter-"${NODE_EXPORTER_VERSION}".linux-amd64.tar.gz
            cd node_exporter-"${NODE_EXPORTER_VERSION}".linux-amd64
            sudo systemctl stop node_exporter
            sudo cp -f node_exporter /usr/local/bin
        cwd: /home/ec2-user
        test: true
    remove extracted directory:
        command: sudo rm -rf node_exporter-"${NODE_EXPORTER_VERSION}".linux-amd64
        cwd: /home/ec2-user
    remove downloaded file:
        command: sudo rm node_exporter-"${NODE_EXPORTER_VERSION}".linux-amd64.tar.gz
        cwd: /home/ec2-user
    reload systemctl daemon:
        command: sudo systemctl daemon-reload
    start exporter:
        command: sudo systemctl restart node_exporter
